<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
{{- partial "head.html" . -}}

<body>
    <script src="/js/vanilla-back-to-top.min.js"></script>
    <script>addBackToTop({
        backgroundColor: '#363636'
      })</script>

    <script>
        window.store = {
            // You can specify your blog section only:
            {{ range where site.RegularPages "Type" "in" site.Params.mainSections }}
            // For all pages in your site, use "range .Site.Pages"
            // You can use any unique identifier here
            "{{ .Permalink }}": {
                // You can customize your searchable fields using any .Page parameters
                "title": "{{ .Title  }}",
                "tags": [{{ range .Params.tags }}"{{ . }}",{{ end }}],
                "content": {{ .Content | plainify }}, // Strip out HTML tags
                "url": "{{ .Permalink }}",
                "description": "{{ .Params.description }}",
                "url": "{{ .Permalink }}",
                "summary": "{{ .Params.summary }}",
                "featured_image": "{{ .Params.featured_image }}",
                "time": "{{ .Params.time }}",
                "servings": "{{ .Params.servings }}",
                "featured_image": "{{ .Params.featured_image }}",
            },
            {{ end }}
        }

        function sendToRandomArticle() {
            const keys = Object.keys(window.store)
            let randIndex = Math.floor(Math.random() * keys.length);
            let randArticle = keys[randIndex] + '?utm_source=RandomButton';
            window.location.href = randArticle;
        }
   
   </script>

    {{- partial "header.html" . -}}
    <main role="main">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
</body>

</html>