<a class="box" href="{{ .Permalink }}" aria-label="{{ .Title }}">
  <div class="is-flex">
    {{ with .Params.featured_image }}
    <figure class="image is-48x48" style="margin-right: 0.5em;">
      <img alt="{{ . }}" class="is-rounded" src="{{ . }}" />
    </figure>
    {{ end }}
    <div>
      <div>{{ .Title }}
        {{ range .Params.Tags }}
          {{ if in . "spicy"}}
            <span class="icon has-text-danger">
              <i class="fas fa-pepper-hot"></i>
            </span>
          {{ end }}
        {{ end }}
      </div>
      <small class="has-text-grey">{{ .Summary }}</small>
    </div>
  </div>
  <div style="margin-top: 0.5em;">
    <span class="tag is-primary is-light">{{ .Params.Time }}</span>
    <span class="tag is-link is-light">{{ .Params.Servings }}</span>
    {{ range .Params.Tags }}
      {{ if not (in . "spicy")}}
        <span class="tag">{{ . }}</span>
      {{ end }}
    {{ end }}
  </div>
</a>